<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="at.jku.mevss.methodMarker"
         name="Monitored Method"
         point="org.eclipse.core.resources.markers">
      <persistent
            value="false">
      </persistent>
      <super
            type="org.eclipse.ajdt.ui.advicemarker">
      </super>
      <attribute
            name="name">
      </attribute>
      <attribute
            name="signature">
      </attribute>
   </extension>
   <extension
         id="net.mv.tutorial.annotation.AnnotationSpecification"
         name="FeatureAnnotation"
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
            annotationType="net.mv.annotation.test1"
            colorPreferenceKey="annotation.color.error1"
            colorPreferenceValue="171,247,198"
            contributesToHeader="true"
            highlightPreferenceKey="annotation.highlight1"
            highlightPreferenceValue="true"
            icon="icon/annot1.png"
            includeOnPreferencePage="true"
            isGoToNextNavigationTarget="false"
            label="Annotation1"
            overviewRulerPreferenceKey="annotation.color.error1"
            overviewRulerPreferenceValue="true"
            presentationLayer="0"
            textPreferenceKey="annotation.text1"
            textPreferenceValue="true"
            textStylePreferenceKey="at.jku.mevss.annotation.textstyle"
            textStylePreferenceValue="BOX"
            verticalRulerPreferenceKey="annotation.ruler.error1"
            verticalRulerPreferenceValue="true">
      </specification>
      <specification
            annotationImageProvider="at.jku.mevss.ide.diagnosis.debug.annotations.FeatureImageProvider"
            annotationType="net.mv.annotation.test2"
            colorPreferenceKey="annotation.color.error2"
            colorPreferenceValue="237,173,166"
            contributesToHeader="true"
            highlightPreferenceKey="highlight.error2"
            highlightPreferenceValue="true"
            icon="icon/annot2.png"
            includeOnPreferencePage="true"
            isGoToNextNavigationTarget="false"
            label="Annotation2"
            overviewRulerPreferenceKey="annotation.overview.error2"
            overviewRulerPreferenceValue="true"
            presentationLayer="0"
            showInNextPrevDropdownToolbarAction="true"
            textPreferenceKey="annotation.text2"
            textPreferenceValue="true"
            textStylePreferenceKey="at.jku.mevss.annotation.textstyle.error"
            textStylePreferenceValue="BOX"
            verticalRulerPreferenceKey="annotation.ruler.error2"
            verticalRulerPreferenceValue="true">
      </specification>
   </extension>
   <extension
         id="at.jku.mevss.methodErrorMarker"
         point="org.eclipse.core.resources.markers">
      <persistent
            value="false">
      </persistent>
      <super
            type="org.eclipse.ajdt.ui.advicemarker">
      </super>
      <attribute
            name="name">
      </attribute>
      <attribute
            name="signature">
      </attribute>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <command
               commandId="net.mv.tutorial.annotation.test"
               label="TestAnnotation"
               style="push">
         </command>
      </menuContribution>
   </extension>
  
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="net.mv.tutorial.annotation.test"
            name="TestAnnotation"/> point="org.eclipse.ui.handlers">
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="net.mv.tutorial.annotation.test.TestAnnotationCommandHandler"
            commandId="net.mv.tutorial.annotation.test">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.editors.annotationTypes">
      <type
            markerType="net.mv.annotation.test1"
            name="net.mv.annotation.test1">
      </type>
      <type
            markerType="net.mv.annotation.test2"
            name="net.mv.annotation.test2">
      </type>
   </extension>
   <extension
         id="id1"
         point="org.eclipse.e4.workbench.model">
   </extension>

</plugin>
